@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles (optional) */
body {
    background-color: #f8f9fa;
  }
.low{
  background-color: green;
}
.medium{
  background-color: blue;
}  
.high{
  background-color: red;
} 

.noDecoration{
  text-decoration: none;
}